.pagination {
    margin: 10px;
}

.pagination__list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}

.pagination__link {
    padding: 2px 10px;
    border-radius: 50%;
    border: 1px solid #1b212c;
    color: black;
    display: block;
}

.pagination__link:hover {
    background-color: #1b212c;
    color: white;
}
