.form__title {
    margin-left: 20px;
}

.form {
    display: block;
    padding: 20px;
    min-width: 1000px;
    overflow: hidden;
    background: white;
    border-radius: 20px;
}

.form__actions {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
