.orders-list__header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.order-table {
    display: auto;
    overflow-x: auto;
    border-radius: 5px;
    background: white;
    overflow-x: auto;
    max-height: 100%;
    margin: 10px 0;
}

.order-table tr {
    padding: 10px;
    border-radius: 5px;
}

.order-table :is(td, th) {
    padding: 15px 20px;
    vertical-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.095);
}

.order-customer {
    width: 200px;
}

.order-price {
    width: 200px;
}

.order-status {
    width: 200px;
}

.order-date {
    width: 160px;
}

.order-action {
    padding: 2px;
    background: white;
    outline: none;
    border: none;
}

.orders-list__paginatinon {
    align-self: flex-end;
}

.order-payment-method {
    width: 200px;
}