.orders-list__header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}


.order-table {
    width: 1100px;
    overflow-x: auto;
    border-collapse: separate;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background: white;
    max-height: 100%;
    margin: 10px 0;
}

.order-table tr {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.order-table :is(td, th) {
    padding: 10px 20px;
    vertical-align: center;
}

.order-customer {
    min-width: 300px;
}

.order-price {
    min-width: 250px;
}

.order-status {
    min-width: 150px;
}

.order-date {
    min-width: 150px;
}

.order-action {
    padding: 2px;
    background: white;
    outline: none;
    border: none;
}

.orders-list__paginatinon {
    align-self: flex-end;
}
