.product-list-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.product-action {
    display: inline-block;
}

.product-action,
.product-list-action {
    padding: 2px;
    margin: 0;
    background: transparent;
    color: black;
    display: flex;
    gap: 10px;
    border: none;
}

.product-list-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
}

.product-list-action:hover {
    background-color: rgba(0, 0, 0, 0.095);
}

.product-table {
    width: 1100px;
    overflow-x: auto;
    border-collapse: separate;
    border-spacing: 2px;
    border-radius: 5px;
    background: white;
    max-height: 100%;
    margin: 0;
}

.product-table-row {
    padding: 10px;
    border-radius: 5px;
    border-bottom: 1px solid black;
}

.product-table :is(td, th) {
    text-overflow: ellipsis;
    padding: 10px 10px;
    vertical-align: center;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.195);
}

.product-name {
    width: 170px;
}

.product-brand {
    width: 200px;
}

.product-price {
    width: 150px;
}

.product-gender {
    width: 80px;
}

.product-link {
}
