.product-edit {
    display: flex;
    align-items: center;
    flex-flow: column;
}

.form__title {
    margin-left: 20px;
}

.form {
    padding: 20px;
    width: 950px;
    overflow: hidden;
    background: white;
    border-radius: 20px;
}

.form__actions {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
