.product-add {
    display: flex;
    align-items: center;
    flex-flow: column;
}

.form__title {
    margin-left: 20px;
}

.form {
    padding: 20px;
    max-width: 1200px;
    overflow: hidden;
    background: white;
    border-radius: 20px;
}

.form__actions {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

@media screen and (max-width: 527px) {
    .form__title {
        text-align: center;
    }
    .form__group aside {
        text-align: left;
    }
}
