.sidebar {
    min-width: 200px;
    padding: 0 20px;
    list-style: none;
    background-color: #C4C4C4;
    border: 1px solid rgba($color: #000000, $alpha: .25);
    border-radius: 10px;
}

.sidebar__link {
    display: inline-block;
    padding: 10px 5px;
    font-size: large;
    font-weight: 600;
    color: black;
    border-bottom: 1px solid rgba($color: #000000, $alpha: .25);
}

.sidebar__link:hover, .sidebar__link.active {
    color: #FB4B29 ;
}

.sidebar__link:link {
    text-decoration: none;
}