.order-edit {
    display: flex;
    align-items: center;
    flex-flow: column;
}

.form {
    padding: 20px;
    min-width: 1000px;
    overflow: hidden;
    background: white;
    border-radius: 20px;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.product-table {
    width: 100%;
    vertical-align: center;
}

.product-table :is(td, th) {
    padding: 10px;
    width: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-quantity {
    min-width: 100px;
    text-align: right;
}

.product-price {
    min-width: 150px;
    text-align: right;
}

.product-sub-total {
    text-align: right;
    min-width: 150px;
}

.product-list-title {
    padding: 20px;
}

.product-image {
    object-fit: cover;
}
