.order-edit {
    display: flex;
    align-items: center;
    flex-flow: column;
}

.form {
    padding: 20px;
    min-width: 1000px;
    overflow: hidden;
    background: white;
    border-radius: 20px;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.product-table {
    table-layout: auto;
    width: 100%;
    display: table;
}

.product-table :is(td, th) {
    width: 20%;
    padding: 10px;
}

.product-quantity {
    text-align: right;
}

.product-subtotal {
    text-align: right;
}

.product-list-title {
    padding: 20px;
}